<div id='content'>
  <div id='map' data-lat='<%= @latitude %>' data-lng='<%= @longitude %>'></div>
  <div id='ip-card'>
    <div id='ip-row'>
      <span id='ip'><%= @remote_ip %></span>
      <button type='button' id='copy-btn' data-ip='<%= @remote_ip %>' aria-label='Copy IP address' title='Copy IP'>
        <svg id='copy-icon-default' width='18' height='18' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' aria-hidden='true'>
          <rect x='9' y='9' width='13' height='13' rx='2' ry='2'></rect>
          <path d='M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1'></path>
        </svg>
        <svg id='copy-icon-done' width='18' height='18' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2.4' stroke-linecap='round' stroke-linejoin='round' aria-hidden='true'>
          <polyline points='20 6 9 17 4 12'></polyline>
        </svg>
      </button>
    </div>
    <% place = [@location[:city], @location[:region]].compact.join(', ') %>
    <% locality = [place.empty? ? nil : place, @location[:country]].compact %>
    <% if locality.any? %>
      <div id='location'><%= locality.join(' • ') %></div>
    <% end %>
    <% meta_rows = [
      (['ISP', [@location[:isp], @location[:asn] && "AS#{@location[:asn]}"].compact.join(' · ')] if @location[:isp]),
      (['Postal', @location[:postal_code]] if @location[:postal_code]),
      (['Timezone', @location[:timezone]] if @location[:timezone]),
      ((['Coords', format('%.4f, %.4f', @latitude, @longitude)]) if @latitude && @longitude)
    ].compact %>
    <% if meta_rows.any? %>
      <dl id='meta'>
        <% meta_rows.each do |label, value| %>
          <dt><%= label %></dt><dd><%= value %></dd>
        <% end %>
      </dl>
    <% end %>
  </div>
</div>

<script src='/javascript/copy_ip.js' defer></script>
<script async src='https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_KEY'] %>&callback=initMap'></script>
